.col-md-5 {
    padding-top:5px;
    padding-bottom: 5px;
}
.col-md-1 {
    padding-top:5px;
    padding-bottom: 5px;
}
.col-md-12 {
    padding-top:2px;
    padding-bottom: 2px;
}
.border-left {
    border-left: 1px solid #DCDCDC;
}
.grid {
    margin-top:10px;
}
.grid-pager {
    margin: 3px;
}
.grid-header {
    background-color: #DCDCDC;
}
.grid-data-row {
    background-color: #F0F8FF;
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}
.grid-footer {
    border-bottom: 1px solid #DCDCDC;
    border-left: 1px solid #DCDCDC;
    border-right: 1px solid #DCDCDC;
}
